# Ignore all dot-files and dot-folders.
.*

# Save gitignore.
!/.gitignore

# Save IDEA configuration.
!/.idea

# Ignore user-specific IDEA project configuration.
.idea/workspace.xml

# Ignore Gradle build.
build/

# Ignore Maven build.
target/

# Ignore Eclipse JDT (Java Development Tools) build.
bin/

